@model AppWebBD.Models.Beneficiarios

@{
    ViewData["Title"] = "eliminarBeneficiario";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h1>eliminarBeneficiario</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Beneficiarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDocumentoIdentidadBeneficiario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDocumentoIdentidadBeneficiario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentezcoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentezcoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDesactivacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDesactivacion)
        </dd>
    </dl>
    
    <form asp-action="eliminarBeneficiario">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
</div>
